name: build

on: push

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 20

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: --unshallow

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: "18.x"

      - name: Cache node modules
        uses: actions/cache@v5
        env:
          cache-name: cache-node-modules
        with:
          path: ~/.npm
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-

      - name: Install Dependencies
        run: npm ci

      - name: Run Component Tests
        timeout-minutes: 5
        run: npm run test:all
        env:
          CI: true
          NODE_OPTIONS: "--max-old-space-size=4096"

      - name: Run linter
        run: npm run lint

      - name: Build
        run: npm run build
